<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <h1>Lec02 GET!</h1>

  <p>
  <div th:if="${user_name}">
    Hi [[${user_name}]]
  </div>

  <a href="/lec02?user_hand=0">ぐー</a>
  <a href="/lec02?user_hand=1">ちょき</a>
  <a href="/lec02?user_hand=2">ぱー</a>

  <div th:if="${user_hand}">
    あなたの手 [[${user_hand}]]
  </div>

  <div th:if="${cpu_hand}">
    相手の手 [[${cpu_hand}]]
  </div>

  <div th:if="${result}">
    結果 [[${result}]]
  </div>
  </p>

</body>

</html>
