<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Lec02 GET!</h1>

  <div th:if="${login_user}">
    Hi [[${login_user}]]
  </div>

  <div th:if="${users}">
    <h2>エントリー</h2>
    <ul>
      <li th:each="user,stat:${users}">[[${user.name}]]</li>
    </ul>
    今[[${users.size()}]]人がエントリーしています
  </div>

  <a href="/lec02/game?user_hand=0">ぐー</a>
  <a href="/lec02/game?user_hand=1">ちょき</a>
  <a href="/lec02/game?user_hand=2">ぱー</a>

  <div th:if="${user_hand}">
    あなたの手 [[${user_hand}]]
  </div>

  <div th:if="${cpu_hand}">
    相手の手 [[${cpu_hand}]]
  </div>

  <div th:if="${result}">
    結果 [[${result}]]
  </div>

</body>

</html>
