<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Lec02 GET!</h1>

  <div th:if="${login_user}">
    Hi [[${login_user}]]
  </div>

  <div th:if="${users}">
    <h2>エントリー</h2>
    <ul>
      <li th:each="user,stat:${users}">
        <a th:href="@{/match(id=${user.id})}">[[${user.name}]]</a>
      </li>
    </ul>
    今[[${users.size()}]]人がエントリーしています
  </div>

  <div th:if="${matches}">
    <h2>試合結果</h2>
    <ul style="list-style: none; padding-left: 0;">
      <li th:each="match,stat:${matches}">
        id:[[${match.id}]]
        user_1:[[${match.user_1}]]
        user_2:[[${match.user_2}]]
        user_1の手:[[${match.user_1_hand}]]
        user_2の手:[[${match.user_2_hand}]]
      </li>
    </ul>
  </div>

</body>

</html>
